.pyg_view{
    padding: 10px;
    #code_btn{
        position: absolute;
        width: 23%;
        top:5px;
        right: 5px;
        padding: 6px;
    }
    .mui-button-tool{
        margin-top: 10px;
        a{
            width: 49%;
        }
    }
   
}